html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: "Source Sans pro";
    background-color:#4e4b4b;
}


#header{
    width:100%;
    line-height:120px;
    background-color:#d6d6d6;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.sitename{
    font-size:40pt;
    color:#494e4d;
    margin-left:110px;
    display: inline;
    margin-bottom: 0;
    padding-bottom: 0;
}
ul{
    display: inline-block;
    margin:0 0 0 100px;
    padding:0;
    text-transform: uppercase;
}
li{
    list-style-type: none;
    display: inline;
    margin:0;
}

.navlink, .currnavlink{
    font-size:22pt;
    padding-right:80px;
}

.navlink{
    color:#565c5b;
}

.navlink:hover{
    color:#353837;
    text-decoration: underline;
}
.currnavlink{
    color:#353837;
    text-decoration: underline;
}

#container{
    width:1100px;
    margin:0 auto 0 auto;
    background-color:#5c5959;
    color:#ffffff;
    padding: 20px 40px 20px 40px;
}

.containertitle{
    margin:0;
    font-size:30pt;
}

.paragraphe{
    font-size:15pt;
    padding-top:5px;
    padding-bottom: 20px;
}

.title{
    margin:0 0 0 50px;
    font-size:30pt;

}

#container img{
    width:80%;
    margin:auto;
    display:block;
}
@media screen and (max-width: 1400px) {
    .sitename {
        font-size: 28pt;
        margin-left: 40px;

    }
    .navlink, .currnavlink{
        font-size:20pt;
        padding-right:50px;
    }
    #container{
        width:90%;
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (max-width: 1100px){
    #header{
        width:100%;
        line-height:80px;
    }

    .sitename{
        font-size:25pt;
        margin-left:60px;

    }

    ul{
        margin:0 0 0 40px;
    }

    .navlink, .currnavlink{
        font-size:14pt;
        padding-right:50px;
    }

    #container{
        width:90%;
        padding: 10px 20px 10px 20px;
    }

    .containertitle{
        font-size:25pt;
    }

    .paragraphe{
        font-size:12pt;
        padding-top:2px;
        padding-bottom: 15px;
    }

    .title{
        margin:0 0 0 30px;
        font-size:25pt;


    }
    #container img{
        height:100px;
    }
}

@media screen and (max-width: 900px){
    .sitename{
        font-size:25pt;
        margin-left:40px;
    }

    .containertitle{
        font-size:21pt;
    }

    .paragraphe{
        font-size:12pt;
        padding-bottom: 11px;
    }

    .title{
        margin:0 0 0 20px;
        font-size:21pt;

    }
}

@media screen and (max-width: 800px){
    .sitename{
        font-size:22pt;
        margin-left:30px;
    }

    .containertitle{
        font-size:19pt;
    }

    .paragraphe{
        font-size:11pt;
        padding-bottom: 9px;
    }

    .title{
        margin:0 0 0 18px;
        font-size:19pt;

    }
    .navlink, .currnavlink{
        font-size:13pt;
        padding-right:25px;
    }
}

@media screen and (max-width: 700px){
    #container{
        width:90%;
        padding:5px 10px 5px 10px;
    }
    .sitename{
        font-size:18pt;
        margin-left:30px;
    }

    .containertitle{
        font-size:17pt;
    }

    .paragraphe{
        font-size:10pt;
        padding-bottom: 7px;
    }

    .title{
        margin:0 0 0 16px;
        font-size:17pt;

    }
    ul{
        margin:0 0 0 30px;
    }

    .navlink, .currnavlink{
        font-size:12pt;
        padding-right:30px;
    }
}

@media screen and (max-width: 600px){
    .sitename{
        font-size:14pt;
        margin-left:10px;
        font-weight: bold;
        text-transform:uppercase;
    }

    ul{
        margin:0 0 0 10px;
    }
    .navlink, .currnavlink{
        font-size:11pt;
        padding-right:22px;
    }
}
@media screen and (max-width: 500px){
    .sitename{
        font-size:12pt;
        margin-left:3px;
    }
    .navlink, .currnavlink{
        font-size:10pt;
        padding-right:10px;
    }
}

@media screen and (max-width: 320px){
    /** FAIRE UN JS AVEC UN BOUTON MENU DEROULANT**/
}